<div id="<%= dom_id schedule %>">
  <p>
    <strong>Stage:</strong>
    <%= schedule.stage %>
  </p>

  <p>
    <strong>Grade application:</strong>
    <%= schedule.grade_application %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= schedule.date %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= schedule.subject_id %>
  </p>

</div>
