<%= form_with(model: high_school_sched) do |form| %>
  <% if high_school_sched.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(high_school_sched.errors.count, "error") %> prohibited this high_school_sched from being saved:</h2>

      <ul>
        <% high_school_sched.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :stage, style: "display: block" %>
    <%= form.number_field :stage %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :subject_id, "Subject" %>
      <%= form.collection_check_boxes :subject_ids, @subjects, :id, :name %>

  </div>

  <div>
    <%= form.label :exam_type, style: "display: block" %>
    <%= form.text_field :exam_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
