<div id="<%= dom_id high_school_sched %>">
  <p>
    <strong>Stage:</strong>
    <%= high_school_sched.stage %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= high_school_sched.date %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= high_school_sched.subject_id %>
  </p>

  <p>
    <strong>Exam type:</strong>
    <%= high_school_sched.exam_type %>
  </p>

</div>
