<p style="color: green"><%= notice %></p>

<%= render @high_school_sched %>

<div>
  <%= link_to "Edit this high school sched", edit_high_school_sched_path(@high_school_sched) %> |
  <%= link_to "Back to high school scheds", high_school_scheds_path %>

  <%= button_to "Destroy this high school sched", @high_school_sched, method: :delete %>
</div>
