<%= form_with(model: school_class, local: true) do |form| %>
  <% if school_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_class.errors.count, "erro") %> proibiu este registro de ser salvo:</h2>

      <ul>
        <% school_class.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
        <div class="mb-3 col-md-6">
          <%= form.label :grade, "Ano/Série", class: "form-label" %>
          <%= form.select :grade, options_for_select([
            "Infantil I", "Infantil II", "Infantil III", "Infantil IV", "Infantil V",
            "1º ano", "2º ano", "3º ano", "4º ano", "5º ano",
            "6º ano", "7º ano", "8º ano", "9º ano",
            "1ª série", "2ª série", "3ª série"
          ], selected: school_class.grade), { include_blank: "Selecione um ano/série" }, class: "form-select form-select-sm" %>
        </div>

    <div class="col">
      <%= form.label :identifier, "Turma (ex: A, B...)" %>
      <%= form.text_field :identifier, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :shift, "Turno" %>
      <%= form.select :shift, SchoolClass::SHIFTS, {}, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <%= form.label :quantity, "Quantidade de Alunos" %>
      <%= form.number_field :quantity, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :adpt, "Qtd. Adaptados (Total)" %>
      <%= form.number_field :adpt, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :adpt_level1, "Qtd. Nível 1" %>
      <%= form.number_field :adpt_level1, class: "form-control" %>
    </div>

    <div class="col">
      <%= form.label :adpt_level2, "Qtd. Nível 2" %>
      <%= form.number_field :adpt_level2, class: "form-control" %>
    </div>
  </div>

  <div class="row">
        <div class="mb-3 col-md-6">
          <%= form.label :level, "Nível", class: "form-label" %>
          <%= form.collection_select :level, Level.all, :name, :name, { prompt: "Selecione o nível" }, class: "form-select form-select-sm" %>
        </div>

  <div class="mt-3">
    <%= form.submit "Salvar", class: "btn btn-success" %>
    <%= link_to "Cancelar", school_classes_path, class: "btn btn-secondary" %>
  </div>
<% end %>
