<p style="color: green"><%= notice %></p>

<%= render @school_class %>

<div>
  <%= link_to "Editar esta turma", edit_school_class_path(@school_class) %> |
  <%= link_to "Voltar para turmas", school_classes_path %>

  <%= button_to "Delear esta turma", @school_class, method: :delete %>
</div>
