<%= form_with(model: teacher, class: "needs-validation", local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(teacher.errors.count, "erro") %> impediram o salvamento:</h4>
      <ul>
        <% teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 col-md-5">
    <%= form.label :name, "Nome", class: "form-label" %>
    <%= form.text_field :name, class: "form-control form-control-sm" %>
  </div>
  
  <div class="mb-3 col-md-5">
    <%= form.label :email, "E-mail", class: "form-label" %>
    <%= form.text_field :email, class: "form-control form-control-sm" %>
  </div>

  <div class="mb-3 col-md-5">
    <%= form.label :phone, "Telefone", class: "form-label" %>
    <%= form.text_field :phone, class: "form-control form-control-sm" %>
  </div>

  <div class="mb-3 col-md-6">
    <%= form.label :subject_ids, "Componentes Curriculares", class: "form-label" %>
    <%= form.select :subject_ids, Subject.all.pluck(:subject_name, :id), 
      { include_hidden: false }, 
      { multiple: true, class: "form-control select2-multiple", name: "teacher[subject_ids][]" } %>
  </div>

  <div>
    <%= form.submit "Salvar", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>

<!-- Select2 Init -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.select2-multiple').select2({
      placeholder: "Selecione as disciplinas",
      allowClear: true,
      width: '100%'
    });
  });
</script>
