

<h1>Editar Professor</h1>

<%= form_for(@teacher) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :subjects %>
  <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :subject_name %>

  <%= form.submit 'Atualizar Professor' %>
<% end %>