<!-- app/views/teachers/index.html.erb -->

<h1>Professores</h1>
<%= link_to 'Novo Professor', new_teacher_path, class: 'btn btn-primary' %>
<table>
  <thead>
    <tr>
      <th>Nome do Professor</th>
      <th>Email</th>
      <th>Disciplinas</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td>
          <% teacher.subjects.each do |subject| %>
            <%= subject.subject_name %><br>
          <% end %>
        </td>
        <td>
          <%= link_to 'Editar', edit_teacher_path(teacher) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>