<%= form_for(@high_school) do |form| %>
  <%= form.label :stage %>
  <%= form.text_field :stage %>

  <%= form.label :period %>
  <%= form.text_field :period %>

  <%= form.label :date %>
  <%= form.date_field :date %>

  <%= form.label :subjects %>
  <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :subject_name do |b| %>
    <div>
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

  <%= form.submit %>
<% end %>